@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.svg_icons{
  transform: scale(1.5) !important;
}

.pad {
  padding-top: 12.5vh !important;
}

.list-text span{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
  text-align: justify;
  font-size: 2vh;
}

.field-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
  text-align: left !important;
}

.list-buttonlink {
  font-family: 'Montserrat', sans-serif !important;
  color: black;
  text-decoration: none;
}

.list-button span{
  padding-top: 1.8vh;
  padding-bottom: 1.8vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.grid-home {
  display: grid;
  grid-template-columns: 55px 55% 42.15%;
  /* grid-template-columns: 55px 55% auto; */
  /* grid-template-rows: 95% 5%; */
  grid-template-rows: auto;
  height: 100vh;
}

.grid-about {
  display: grid;
  grid-template-columns: 55px 97.15%;
  grid-template-rows: 95% 5%;
  height: 100vh;
}

.grid-item-map {
  position: relative;
}

.grid-item {
  text-align: center;
  /* border: 1px solid #000000; */
}

/* .grid-item-footer {
  text-align: center;
  grid-column: 2/4;
  /* border: 1px solid #000000;
} */

.grid2 {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto;

}

.grid2-item1 {
  align-items: left;
  padding-top: 3%;
}

.grid2-item {
  align-items: left;
}

/* .footer-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bolder;
  font-size: 115%;
  color: #949396
} */

.Heading-Text {
  text-align: left !important;
  padding-left: 7%;
  padding-top: 3%;
  font-size: 3rem;
  color: #3f51b5;
}

.Heading-Text:hover {
  color: black
}

.home-text {
  font-size: 200%;
  text-align: left;
  padding-left: 7%;
  padding-right: 4%;
  /* padding-bottom: 20px; */
}

.about-heading {
  text-align: left !important;
  font-size: 3rem;
  color: #3f51b5;
}

.about-text {
  font-size: 200%;
  text-align: justify;
}

.about-container {
  padding-left: 4%;
  padding-right: 6%;
  padding-top: 3%;
}

.button-align {
  display: flex;
  align-self: left;
  padding-left: 16.5%;
}

.forms {
  display: flex;
  width: 200vw;
  align-items: left !important;
}

.button_text
{
  text-align: left;
  font-family: 'Montserrat', sans-serif !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bolder;
  font-size: 115%;
  color: #949396;
  position: absolute;
  bottom: 1.69%;
  left: 45%;
}

.git-icon {
  position: absolute;
  bottom: 12.69%;
  left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
