@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;

  line-height: 1.4;

  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

h1,
h2,
h3 {
  font-weight: 900;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.svg_icons {
  transform: scale(1.5) !important;
}

/* .pad {
  padding-top: 30vh !important;
} */

.list-text span {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  text-align: justify;
  font-size: 2vh;
}

.field-text {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  text-align: left !important;
}

.list-buttonlink {
  font-family: "Montserrat", sans-serif !important;
  color: black;
  text-decoration: none;
}

.list-button span {
  padding-top: 1.8vh;
  padding-bottom: 1.8vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.grid-home {
  display: grid;
  grid-template-columns: 55px 55% 42.15%;
  /* grid-template-columns: 55px 55% auto; */
  /* grid-template-rows: 95% 5%; */
  grid-template-rows: auto;
  height: 100vh;
}

.grid-about {
  display: grid;
  grid-template-columns: 55px 97.15%;
  grid-template-rows: 95% 5%;
  height: 100vh;
}

.grid-item-map {
  position: relative;
}

.grid-item {
  text-align: center;
  /* border: 1px solid #000000; */
}

/* .grid-item-footer {
  text-align: center;
  grid-column: 2/4;
  /* border: 1px solid #000000;
} */

.grid2 {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto;
}

.grid2-item1 {
  align-items: left;
  padding-top: 3%;
}

.grid2-item {
  align-items: left;
}

/* .footer-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bolder;
  font-size: 115%;
  color: #949396
} */

.Heading-Text {
  text-align: left !important;
  padding-left: 7%;
  padding-top: 3%;
  font-size: 3rem;
  color: #3f51b5;
}

.Heading-Text:hover {
  color: black;
}

.home-text {
  font-size: 200%;
  text-align: left;
  padding-left: 7%;
  padding-right: 4%;
  /* padding-bottom: 20px; */
}

.about-heading {
  text-align: left !important;
  font-size: 3rem;
  color: #3f51b5;
}

.about-text {
  font-size: 200%;
  text-align: justify;
}

.about-container {
  padding-left: 4%;
  padding-right: 6%;
  padding-top: 3%;
}

.button-align {
  display: flex;
  align-self: left;
  padding-left: 16.5%;
}

.forms {
  display: flex;
  width: 200vw;
  align-items: left !important;
}

.button_text {
  text-align: left;
  font-family: "Montserrat", sans-serif !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bolder;
  font-size: 115%;
  color: #949396;
  position: absolute;
  bottom: 1.69%;
  left: 45%;
}

.git-icon {
  position: absolute;
  bottom: 12.69%;
  left: 50%;
}

.map-legend {
  position: absolute;
  bottom: 5%;
  z-index: 100;
  list-style-type: square;
}

.map-legend-page {
  position: absolute;
  bottom: 5%;
  right: 2.5%;
  z-index: 100;
  list-style-type: square;
}

/* .list-item {
  padding-right: 5vw;
} */

.list-road {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(95, 23, 219, 100);
  border-radius: 50%;
  display: inline-block;
}

.list-light {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(17, 205, 216, 100);
  border-radius: 50%;
  display: inline-block;
}

.list-washroom {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(234, 216, 191, 100);
  border-radius: 50%;
  display: inline-block;
}

.list-sewage {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(195, 93, 71, 100);
  border-radius: 50%;
  display: inline-block;
}

.list-garbage {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(223, 34, 230, 100);
  border-radius: 50%;
  display: inline-block;
}

.list-other {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(29, 24, 31, 100);
  border-radius: 50%;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-button-container {
  text-align: right;
  margin-right: 15%;
}

.button-vote {
  margin-left: 5% !important;
}

.parent-grid {
  width: 100vw;
  height: 100vh;
}
.map-location {
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100%;
}
.info-location {
  position: absolute;
  overflow: hidden;
  right: 0%;
  width: 50%;
  height: 100%;
  background: #6f01c4;
  /* background-image: url("https://cloud.icons8.com/apps/files_sharing/publicpreview/kseETBxsodP7DWo?file=/29_Hand%20with%20phone%2004.png&fileId=237396&x=1920&y=623&a=true")  */
}

.il {
  position: relative;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 5vw;
  overflow: hidden;

  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 6px 6px #ff1f8f, 15px 15px #000000;
}

.image-hand {
  position: absolute;
  right: -25%;
  top: 40%;
  z-index: 100;
  max-width: 100%;
  display: block;
  height: auto;
  transform: scale(0.6);
}

.linktoShare {
  color: black;
  margin-bottom: 0;
  margin-top: 0;
}
.textLink {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.card {
  overflow: hidden;
  margin-left: 5vw;
  width: 75%;
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}
.upvote-buttons{
display: flex;
flex-direction: column;
}

.button-vote2{
  margin-top: 10%;
}
.wellHeadings{
  display: flex;
  align-items: center;
}
.wellHeadings h1{
  display: inline-block;
}
.wellHeadings h3{
  display: inline-block;
}
.wellHeadings h5{
  display: inline-block;
}
.linktoShareDate h5{
  margin-bottom: 0;
  padding-bottom: 0;
}
